<h1>Volledige post</h1>

<p><b>Titel:</b><br /><%= @article.title %></p>
<p><b>Beschrijving:</b><br /><%= @article.description %></p>

<%= link_to "Bewerk deze post", edit_article_path(@article) %> |
<%= link_to "Terug naar overzicht", articles_path %>